.Editor form {
  display: flex;
  gap: 10px;
}

.Editor > form > input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Editor > form > button {
  cursor: pointer;
  width: 80px;
  background-color: rgb(37, 147, 255);
  border: none;
  color: white;
  border-radius: 5px;
}
